<% if object.errors.any? %>
  <div class="errors">
    <div class="errors-title">The following errors were found:</div>
    <ul class="">
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
